body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(grid-columns, 1fr);
  grid-template-rows: repeat(grid-rows, 1fr);
  border-radius: 5px;
  border: 2px solid darkgrey;
  height: 512px;
  width: 512px;
}
#gridContainer {
  cursor: crosshair;
}



.gridCell {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 2px;
}

#buttons {
  display: flex;
  align-content: space-around;
}

button[type="button"] {
  display: grid;
  transition: transform 0.1s;
  align-content: center;
  margin: 15px;
  margin-top: 50px;
  width: 90px;
  height: 40px;
  border: none;
  font-size: 12px;
  align-items: center;
  border-radius: 5px;
}

button[type="button"]:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  cursor: pointer;
}

#eraser {
  background-color: rgb(240, 240, 240);
  color: rgb(100, 100, 100);
}
#rainbow {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 10%,
    rgba(241, 255, 0, 1) 37%,
    rgba(0, 255, 68, 1) 63%,
    rgba(255, 33, 213, 1) 90%
  );
  color: black;
}
#black {
  background-color: black;
  color: white;
}
#reset {
  background-color: red;
  color: white;
}
